*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body{
    height: 100vh;
    width: 100vw;
}
chat-container{
    width: 800px;
    margin: 20px auto;
    height: 80px;
    background-color: rgb(180, 190, 198);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 16px;
    overflow-y: auto;
}
.user-chat-box{
    width: 60%;
    position: relative;
    left: 40%;
}
.ai-chat-box{
    width: 60%;
    position: relative;
}
.user-chat-area{
    width: 60%;
    padding: 12px 16px;
    background-color: rgb(141, 133, 133);
    position: relative;
    left: 36%;
    color: rgb(235, 226, 226);
    border-radius: 40px 0px 40px 40px;
    align-self: flex-end;
}
.ai_chat-area{
    width:90%;
    padding: 20;
    background-color: rgb(84, 77, 77);
    position: relative;
    left: 10%;
    color: rgb(146, 138, 138);
    border-radius: 0px 40px 40px 40px;
    box-shadow: 2px 2px 10px rgb(57, 56, 56);
    align-self: flex-start;
}
#user_img{
    position: absolute;    
    right: 0%;
    filter: drop-shadow( 2px 2px 10px rgb(106, 100, 100));
}
#ai_image{
    position: absolute;
    left: 0%;
}
.prompt-area{
    width: 90%  ;
    bottom: 20px;
    position: fixed;
    background-color: rgb(180, 190, 198);
    display: flex;
    align-items: left right;
    
    gap: 10px;
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    margin: 0 10px;
}
.prompt-area input{
    width: 1000px;
    height: 90px;
    background-color: black;
    padding: 20px;
    color: white;
    font-size: 20px;
    box-shadow: 2px 2px 10px black;
}
.prompt-area button{
    width: 90px;
    height: 90px;
    border-radius: 30%;
    background-color: rgb(211, 200, 200);
    border: none;
    box-shadow: 2px 2px 10px rgb(189, 177, 177);
    cursor: pointer;    
}
.prompt-area button:hover{
    background-color: rgb(91, 76, 76);
}